{% extends 'base-2.html'%}

{% load static %}


{% block head_title %}Login{% endblock %}

{% block content %}

<main class="w-full h-full" style="height: 100vh">
           {% if form.non_field_errors %}
            <div id="dismiss-alert" class="z-40 hs-removing:translate-x-5 hs-removing:opacity-0 transition duration-300 mt-2 bg-blue-100 border border-blue-200 text-sm text-blue-800 rounded-lg p-4 fixed top-4 right-4" role="alert" tabindex="-1" aria-labelledby="hs-dismiss-button-label">
                <div class="flex">
                <div class="shrink-0">
                    <svg class="shrink-0 size-4 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"></path>
                    <path d="m9 12 2 2 4-4"></path>
                    </svg>
                </div>
                <div class="ms-2">
                    <h3 id="hs-dismiss-button-label" class="text-sm font-medium">
                        <ul>
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </h3>
                </div>
                <div class="ps-3 ms-auto">
                    <div class="-mx-1.5 -my-1.5">
                    <button type="button" class="inline-flex bg-blue-50 rounded-lg p-1.5 text-blue-800 hover:bg-blue-100 focus:outline-none focus:bg-blue-100" data-hs-remove-element="#dismiss-alert">
                        <span class="sr-only">Dismiss</span>
                        <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M18 6 6 18"></path>
                        <path d="m6 6 12 12"></path>
                        </svg>
                    </button>
                    </div>
                </div>
                </div>
            </div>
            {% endif %}
    <!-- <div
      class="absolute inset-0 -z-20 h-full w-full bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]">
      <div
        class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_500px_at_50%_200px,#f8fafc,transparent)]"></div>
    </div> -->

    <!-- <div class="relative w-full">
      <div
        class="absolute -right-24 -z-10 -top-28 h-72 w-72 animate-pop-blob rounded-sm bg-indigo-400 p-8 opacity-45 mix-blend-multiply blur-3xl filter"></div>
      <div
        class="absolute -left-40 -z-10 -top-64 h-72 w-72 animate-pop-blob rounded-sm bg-purple-400 p-8 opacity-45 mix-blend-multiply blur-3xl filter"></div>
    </div> -->
    <div
      class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
      aria-hidden="true">
      <div
        class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]"
        style="
          clip-path: polygon(
            74.1% 44.1%,
            100% 61.6%,
            97.5% 26.9%,
            85.5% 0.1%,
            80.7% 2%,
            72.5% 32.5%,
            60.2% 62.4%,
            52.4% 68.1%,
            47.5% 58.3%,
            45.2% 34.5%,
            27.5% 76.7%,
            0.1% 64.9%,
            17.9% 100%,
            27.6% 76.8%,
            76.1% 97.7%,
            74.1% 44.1%
          );
        "></div>
    </div>
    <div class="overflow-hidden -z-10">
        <div
          class="absolute inset-y-0 -z-30 w-full h-full bg-[url('/static/user/images/beams-components.png')] bg-[position:calc(50%_+_190px)_-50px] block bg-no-repeat" style="background-image: url('{% static "user/images/beams-components.png" %}');"></div>
          {% comment %} <img src="{% static "user/images/beams-components.png" %}" width="200px" alt=""> {% endcomment %}
  
        <!-- <div class="absolute inset-y-0 hidden w-full min-w-[1360px] bg-[url('/public/img/beams-components.png')] bg-[length:1000px_700px] bg-[position:calc(50%_+_190px)_-50px] bg-no-repeat lg:block"></div> -->
      </div>
    <div class="overflow-hidden">
      <div
        class="absolute inset-y-0 -z-30 w-full h-full bg-[url('/public/images/beams-components.png')] bg-[position:calc(50%_+_190px)_-50px] block bg-no-repeat md:hidden"></div>

      <!-- <div class="absolute inset-y-0 hidden w-full min-w-[1360px] bg-[url('/public/img/beams-components.png')] bg-[length:1000px_700px] bg-[position:calc(50%_+_190px)_-50px] bg-no-repeat lg:block"></div> -->
    </div>

    <!-- MAIN 2 -->
    <!-- <div class="mx-auto flex justify-center items-center"> -->
    <div
      class="my-4 z-40 mx-4 lg:pt-12 lg:w-full lg:flex lg:flex-row justify-evenly">
      <div class="">
        <div class="flex justify-center pb-1">
          <p
            class="animate-fade-in mt-4 md:mt-0 bg-gray-100 text-gray-600 border border-gray-200 rounded-full px-3 p-0.5 md:p-1.5 md:px-6 text-sm font-medium tracking-tight">
            Effortless Student Management
          </p>
        </div>
        <div class="flex justify-center pb-1 z-40">
          <h1
            class="animate-fade-in -translate-y-4 z-40 text-balance bg-gradient-to-br from-black from-30% to-black/40 bg-clip-text md:py-6 py-2 text-5xl font-medium leading-none tracking-tighter text-transparent opacity-0 [--animation-delay:200ms] sm:text-6xl md:text-7xl lg:text-8xl">
            AcademicLink
          </h1>
        </div>
        <div class="flex justify-center pb-1">
          <p
            class="animate-fade-in -translate-y-4 text-balance text-center md:text-left text-sm md:text-lg tracking-tight text-gray-400 opacity-0 [--animation-delay:400ms]">
            Platform yang dirancang untuk mempermudah perjalanan akademis
            Anda.
            <br class="hidden md:block" />
            Solusi satu pintu untuk semua kebutuhan administrasi mahasiswa.
          </p>
        </div>
      </div>

      <div
        class="animate-fade-in -translate-y-4 mt-8 md:mt-0 rounded-xl bg-white border border-gray-200 shadow-sm p-6 md:p-7">
        <!-- <p class="font-light py-4 text-sm" style="color: #acafb5">
          Hello there, login to continue
        </p> -->
        <div class="mt-0">
          <!-- Form -->
            <form method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            
            <div class="flex flex-col gap-4">
              <!-- Form Group -->
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <div>
                <label for="email" class="block text-xs mb-2 text-indigo-500"
                  >Username</label
                >
                <div class="relative">
                  <input
                    type="text"
                    id="email"
                    name="login"
                    class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-indigo-500 focus:ring-indigo-500 disabled:opacity-50 disabled:pointer-events-none text-indigo-500"
                    required
                    aria-describedby="email-error" />
                  <div
                    class="hidden absolute inset-y-0 end-0 pointer-events-none pe-3">
                    <svg
                      class="size-5 text-red-500"
                      width="16"
                      height="16"
                      fill="currentColor"
                      viewBox="0 0 16 16"
                      aria-hidden="true">
                      <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                    </svg>
                  </div>
                </div>
                <p class="hidden text-xs text-red-600 mt-2" id="email-error">
                  Please include a valid email address so we can get back to
                  you
                </p>
              </div>
              <!-- End Form Group -->

              <!-- Form Group -->
              <div>
                <div class="flex justify-between items-center">
                  <label
                    for="password"
                    class="block text-xs mb-2 text-indigo-500"
                    >Password</label
                  >
                  <a
                    class="inline-flex items-center gap-x-1 text-sm text-indigo-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium dark:text-indigo-500"
                    href="{% url 'app:reset-password' %}"
                    >Forgot password?</a
                  >
                </div>
                <div class="relative">
                  <input
                    type="password"
                    id="password"
                    name="password"
                    class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-indigo-500 focus:ring-indigo-500 disabled:opacity-50 disabled:pointer-events-none text-indigo-500"
                    required
                    aria-describedby="password-error" />
                  <div
                    class="hidden absolute inset-y-0 end-0 pointer-events-none pe-3">
                    <svg
                      class="size-5 text-red-500"
                      width="16"
                      height="16"
                      fill="currentColor"
                      viewBox="0 0 16 16"
                      aria-hidden="true">
                      <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                    </svg>
                  </div>
                </div>
                <p
                  class="hidden text-xs text-red-600 mt-2"
                  id="password-error">
                  8+ characters required
                </p>
              </div>
              <!-- End Form Group -->

              <!-- Checkbox -->
              <div class="flex items-center">
                <div class="flex">
                  <input
                    id="remember-me"
                    name="remember"
                    type="checkbox"
                    class="shrink-0 mt-0.5 border-gray-200 rounded text-indigo-600 focus:ring-indigo-500" />
                </div>
                <div class="ms-3">
                  <label
                    for="remember-me"
                    class="text-sm"
                    style="color: #acafb5"
                    >Remember me</label
                  >
                </div>
              </div>
              <!-- End Checkbox -->

              <button
                class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-indigo-600 text-white hover:bg-indigo-700 focus:outline-none focus:bg-indigo-700 disabled:opacity-50 disabled:pointer-events-none">
                Sign in
              </button>
            </div>
          </form>
          <!-- End Form -->
        </div>

        <div
          class="py-3 flex items-center text-xs text-gray-400 uppercase before:flex-1 before:border-t before:border-gray-200 before:me-6 after:flex-1 after:border-t after:border-gray-200 after:ms-6 dark:text-neutral-500 dark:before:border-neutral-600 dark:after:border-neutral-600">
          Or
        </div>
        <div class="text-center">
          <p class="mt-2 text-sm text-gray-600 dark:text-neutral-400">
            Don't have an account yet?
            <a
              class="text-indigo-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium dark:text-indigo-500"
              href="{% url 'account_signup' %}">
              Sign up here
            </a>
          </p>
        </div>  

        <!-- <div
          class="relative h-fit w-fit overflow-hidden rounded-2xl bg-gray-200 p-px">
          <div
            class="absolute inset-0 h-full w-full animate-trail"
            style="
              --duration: 6s;
              --angle: 0deg;
              background: conic-gradient(
                from var(--angle) at 50% 50%,
                transparent 90%,
                purple
              );
            "></div>
          <div class="relative overflow-hidden rounded-[15px] w-60 bg-white">
            No longer wasting hours 🕕 looking for the inspiration or trying
            to write everything from scratch 📝.
            <img
              class="w-28 lg:w-[14rem] py-4"
              src="../public/images/logo.PNG"
              alt="" />
          </div>
        </div> -->
      </div>
    </div>
    <!-- </div> -->
  </main>

{% endblock %}