{% extends 'base-2.html'%}

{% load static %}


{% block head_title %}Sign Up{% endblock %}

{% block content %}

<main class="w-full h-full" style="min-height: 100vh">
           {% if form.non_field_errors %}
            <div id="dismiss-alert" class="z-40 hs-removing:translate-x-5 hs-removing:opacity-0 transition duration-300 mt-2 bg-indigo-100 border border-indigo-200 text-sm text-indigo-800 rounded-lg p-4 fixed top-4 right-4" role="alert" tabindex="-1" aria-labelledby="hs-dismiss-button-label">
                <div class="flex">
                <div class="shrink-0">
                    <svg class="shrink-0 size-4 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"></path>
                    <path d="m9 12 2 2 4-4"></path>
                    </svg>
                </div>
                <div class="ms-2">
                    <h3 id="hs-dismiss-button-label" class="text-sm font-medium">
                        <ul>
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </h3>
                </div>
                <div class="ps-3 ms-auto">
                    <div class="-mx-1.5 -my-1.5">
                    <button type="button" class="inline-flex bg-indigo-50 rounded-lg p-1.5 text-indigo-800 hover:bg-indigo-100 focus:outline-none focus:bg-indigo-100" data-hs-remove-element="#dismiss-alert">
                        <span class="sr-only">Dismiss</span>
                        <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M18 6 6 18"></path>
                        <path d="m6 6 12 12"></path>
                        </svg>
                    </button>
                    </div>
                </div>
                </div>
            </div>
            {% endif %}
  
    <div
      class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
      aria-hidden="true">
      <div
        class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]"
        style="
          clip-path: polygon(
            74.1% 44.1%,
            100% 61.6%,
            97.5% 26.9%,
            85.5% 0.1%,
            80.7% 2%,
            72.5% 32.5%,
            60.2% 62.4%,
            52.4% 68.1%,
            47.5% 58.3%,
            45.2% 34.5%,
            27.5% 76.7%,
            0.1% 64.9%,
            17.9% 100%,
            27.6% 76.8%,
            76.1% 97.7%,
            74.1% 44.1%
          );
        "></div>
    </div>
    <div class="overflow-hidden -z-10 h-full">
        <div
          class="absolute inset-y-0 -z-30 w-full h-full bg-[url('/static/user/images/beams-components.png')] bg-[position:calc(50%_+_190px)_-50px] block bg-no-repeat" style="background-image: url('{% static "user/images/beams-components.png" %}');"></div>
          {% comment %} <img src="{% static "user/images/beams-components.png" %}" width="200px" alt=""> {% endcomment %}
  
        <!-- <div class="absolute inset-y-0 hidden w-full min-w-[1360px] bg-[url('/public/img/beams-components.png')] bg-[length:1000px_700px] bg-[position:calc(50%_+_190px)_-50px] bg-no-repeat lg:block"></div> -->
      </div>
 

    <!-- MAIN 2 -->
    <!-- <div class="mx-auto flex justify-center items-center"> -->
    <div
      class="my-4 z-40 mx-4 lg:pt-12 lg:w-full lg:flex lg:flex-row justify-evenly">
      

      <div
        class="animate-fade-in -translate-y-4 mt-8 md:mt-0 rounded-xl bg-white border border-gray-200 shadow-sm p-6 md:p-7">
        <!-- <p class="font-light py-4 text-sm" style="color: #acafb5">
          Hello there, login to continue
        </p> -->
        <div class="mt-0">
          <!-- Form -->
          <form method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
            {% if form.non_field_errors %}
            <div id="dismiss-alert" class="hs-removing:translate-x-5 hs-removing:opacity-0 transition duration-300 mt-2 bg-indigo-100 border border-indigo-200 text-sm text-indigo-800 rounded-lg p-4 fixed top-4 right-4" role="alert" tabindex="-1" aria-labelledby="hs-dismiss-button-label">
                <div class="flex">
                <div class="shrink-0">
                    <svg class="shrink-0 size-4 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"></path>
                    <path d="m9 12 2 2 4-4"></path>
                    </svg>
                </div>
                <div class="ms-2">
                    <h3 id="hs-dismiss-button-label" class="text-sm font-medium">
                        <ul class='form-errors'>
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                           
                        </ul>
                    </h3>
                </div>
                <div class="ps-3 ms-auto">
                    <div class="-mx-1.5 -my-1.5">
                    <button type="button" class="inline-flex bg-indigo-50 rounded-lg p-1.5 text-indigo-800 hover:bg-indigo-100 focus:outline-none focus:bg-indigo-100" data-hs-remove-element="#dismiss-alert">
                        <span class="sr-only">Dismiss</span>
                        <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M18 6 6 18"></path>
                        <path d="m6 6 12 12"></path>
                        </svg>
                    </button>
                    </div>
                </div>
                </div>
            </div>
            {% endif %}
            <div class="flex flex-col gap-4">
                {% csrf_token %}
              <!-- Form Group -->
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
                <div>
                    <h1 class="block text-2xl font-bold text-gray-800 dark:text-white py-2">Sign up</h1>
    
               <!-- Form Group -->
               <div>
                <label for="username" class="block text-xs mb-2 text-indigo-500"
                  >Username*</label
                >
                <div class="relative">
                  <input
                    type="text"
                    id="username"
                    name="username"
                    class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-indigo-500 focus:ring-indigo-500 disabled:opacity-50 disabled:pointer-events-none text-indigo-500"
                    required
                    aria-describedby="username-error" />
                  <div
                    class="hidden absolute inset-y-0 end-0 pointer-events-none pe-3">
                    <svg
                      class="size-5 text-red-500"
                      width="16"
                      height="16"
                      fill="currentColor"
                      viewBox="0 0 16 16"
                      aria-hidden="true">
                      <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                    </svg>
                  </div>
                </div>
               
                <div
                class="text-xs text-red-600 mt-2"
                id="username-error">
                    {% if form.username.errors %}
                    {{form.username.errors}}
                    {% endif %}
                </div>
                
              </div>
              <!-- End Form Group -->
              <!-- Form Group -->
              <div>
                <label for="email" class="block text-xs mb-2 text-indigo-500"
                  >Email address</label
                >
                <div class="relative">
                  <input
                    type="email"
                    id="email"
                    name="email"
                    class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-indigo-500 focus:ring-indigo-500 disabled:opacity-50 disabled:pointer-events-none text-indigo-500"
                    required
                    aria-describedby="email-error" />
                  <div
                    class="hidden absolute inset-y-0 end-0 pointer-events-none pe-3">
                    <svg
                      class="size-5 text-red-500"
                      width="16"
                      height="16"
                      fill="currentColor"
                      viewBox="0 0 16 16"
                      aria-hidden="true">
                      <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                    </svg>
                  </div>
                </div>
                <div
                class="text-xs text-red-600 mt-2"
                id="username-error">
                    {% if form.email.errors %}
                    {{form.email.errors}}
                    {% endif %}
                </div>
              </div>
              <!-- End Form Group -->
    
              <!-- Form Group -->
              <div>
                <div class="flex justify-between items-center">
                  <label for="password" class="block text-xs mb-2 text-indigo-500"
                    >Password</label
                  >
                </div>
                <div class="relative">
                  <input
                    type="password"
                    id="password"
                    name="password1"
                    class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-indigo-500 focus:ring-indigo-500 disabled:opacity-50 disabled:pointer-events-none text-indigo-500"
                    required
                    aria-describedby="password-error" />
                  <div
                    class="hidden absolute inset-y-0 end-0 pointer-events-none pe-3">
                    <svg
                      class="size-5 text-red-500"
                      width="16"
                      height="16"
                      fill="currentColor"
                      viewBox="0 0 16 16"
                      aria-hidden="true">
                      <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                    </svg>
                  </div>
                </div>
                <div
                class="text-xs text-red-600 mt-2"
                id="username-error">
                    {% if form.password1.errors %}
                    {{form.password1.errors}}
                    {% endif %}
                </div>
                <div
                class="text-xs text-red-600 mt-2"
                id="username-error">
                    {% if form.password2.errors %}
                    {{form.password2.errors}}
                    {% endif %}
                </div>
              </div>
              <!-- End Form Group -->
    
              <!-- Form Group -->
              <div>
                <div class="flex justify-between items-center">
                  <label for="password" class="block text-xs mb-2 text-indigo-500"
                    >Password (again)</label
                  >
                </div>
                <div class="relative">
                  <input
                    type="password"
                    id="password"
                    name="password2"
                    class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-indigo-500 focus:ring-indigo-500 disabled:opacity-50 disabled:pointer-events-none text-indigo-500"
                    required
                    aria-describedby="password-error" />
                  <div
                    class="hidden absolute inset-y-0 end-0 pointer-events-none pe-3">
                    <svg
                      class="size-5 text-red-500"
                      width="16"
                      height="16"
                      fill="currentColor"
                      viewBox="0 0 16 16"
                      aria-hidden="true">
                      <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                    </svg>
                  </div>
                </div>
                <p class=" text-xs text-red-600 mt-2" id="password-error">
                    Your password must contain at least 8 characters.
                </p>
                <p class=" text-xs text-red-600 mt-2" id="password-error">
        Your password can’t be too similar to your other personal information.
                </p>
                <p class=" text-xs text-red-600 mt-2" id="password-error">
        Your password can’t be a commonly used password.
                </p>
                <p class=" text-xs text-red-600 mt-2" id="password-error">
      Your password can’t be entirely numeric.
                </p>
              </div>
              <!-- End Form Group -->
                </div>
    
              <button
              type="submit"
              class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-indigo-600 text-white hover:bg-indigo-700 focus:outline-none focus:bg-indigo-700 disabled:opacity-50 disabled:pointer-events-none">
              Register
            </button>
            </div>
          </form>
          <!-- End Form -->
        </div>

        <div
        class="py-3 flex items-center text-xs text-gray-400 uppercase before:flex-1 before:border-t before:border-gray-200 before:me-6 after:flex-1 after:border-t after:border-gray-200 after:ms-6      ">
        Or
      </div>
      <div class="text-center">
        <p class="mt-2 text-sm text-gray-600  ">
          Already have an account ?
          <a
            class="text-indigo-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium  "
            href="{{ login_url }}">
            Login Here
          </a>
        </p>
      </div>

    
      </div>
    </div>
    <!-- </div> -->
  </main>

{% endblock %}