{% extends 'base-3.html' %}
{% load app_filters %}
{% load static %}
{% block title %}Pendafataran Mahasiswa{% endblock %}
{% block head %}
    {% comment %} <script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script> {% endcomment %}
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
    <script src="{% static "user/js/react.production.min.js" %}"></script>
    <script src="{% static "user/js/react-dom.production.min.js" %}"></script>
    <script src="{% static "user/js/babel.min.js" %}"></script>
    {% comment %} <script src="{% static "user/js/framer-motion.min.js" %}"></script> {% endcomment %}

{% endblock head %}



{% block content %}

    <div id="particles-root" class="-z-30"></div>
    <main class="w-full max-w-[85rem] mx-auto  h-full z-50" style="">
        <div
                class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
                aria-hidden="true">
            <div
                    class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]"
                    style="
            clip-path: polygon(
              74.1% 44.1%,
              100% 61.6%,
              97.5% 26.9%,
              85.5% 0.1%,
              80.7% 2%,
              72.5% 32.5%,
              60.2% 62.4%,
              52.4% 68.1%,
              47.5% 58.3%,
              45.2% 34.5%,
              27.5% 76.7%,
              0.1% 64.9%,
              17.9% 100%,
              27.6% 76.8%,
              76.1% 97.7%,
              74.1% 44.1%
            );
          "></div>
        </div>

        <!-- MAIN 2 -->
        <!-- <div class="mx-auto flex justify-center items-center"> -->
        <div class="z-50 mx-4 mt-4 lg:mt-4 lg:flex lg:flex-row justify-evenly">
            <div class="flex flex-col">
                <div class="mx-4 mt-6">
                    <h1 class="block text-2xl font-bold text-gray-800">HI, {{ request.user.username }}</h1>
                </div>
                <div
                        class="animate-fade-in -translate-y-4 mt-6 rounded-xl bg-white border border-gray-200 shadow-sm p-6 md:p-7">
                    <!-- <p class="font-light py-4 text-sm" style="color: #acafb5">
             Hello there, login to continue
           </p> -->
                    <!-- <div class="mt-0">
                    <h1 class="block text-2xl font-bold text-gray-800">HI Sugiwa</h1>
                  </div> -->

                    <div class="flex justify-between items-center">
                        <p class="mt-0 text-sm text-gray-600">Status</p>
                        <a href="{% url 'app:score-input' %}"
                           class="py-0.5 px-3 rounded-xl text-white bg-indigo-500 font-light text-sm">
                            Update
                        </a>
                    </div>
                    <div
                            class="my-3 flex items-center text-xs text-gray-400 uppercase flex-1 border-t border-gray-200"></div>
                    <div class="flex gap-4">
                        <div
                                class="
                {% if request.user.score.is_pass %}
                    bg-green-500
                {% else %}
                    bg-red-500 
                {% endif %}
                inline-block p-4 md:py-4 md:px-6 rounded-2xl text-white text-center">
                            <p>Grade:</p>
                            <div class="flex gap-1 items-center justify-center">
                                <p class="text-2xl font-bold">{{ request.user.score.average_score }}</p>
                                {% if request.user.score.is_pass %}

                                    <p>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round"
                                             class="lucide lucide-trending-up">
                                            <polyline points="22 7 13.5 15.5 8.5 10.5 2 17"/>
                                            <polyline points="16 7 22 7 22 13"/>
                                        </svg>
                                    </p>
                                {% else %}
                                    <p>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round"
                                             class="lucide lucide-trending-down">
                                            <polyline points="22 17 13.5 8.5 8.5 13.5 2 7"/>
                                            <polyline points="16 17 22 17 22 11"/>
                                        </svg>
                                    </p>
                                {% endif %}

                            </div>
                        </div>
                        <p class="text-xl text-gray-500 p-4">
                            {% if request.user.score.is_pass %}
                                Nilai anda Lulus
                            {% else %}
                                Nilai anda tidak lulus
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>

            <div class="mt-8">
                <div class=" flex gap-1 items-center">
                    <p class="text-gray-500 text-xl">
                        Seluruh Gelombang
                    </p>
                    <div class="flex justify-center items-center  ">
                        {% comment %} <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-gray-500 lucide lucide-circle-plus size-4"><circle cx="12" cy="12" r="10"/><path d="M8 12h8"/><path d="M12 8v8"/></svg> {% endcomment %}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="lucide lucide-list-minus text-gray-500  size-4">
                            <path d="M11 12H3"/>
                            <path d="M16 6H3"/>
                            <path d="M16 18H3"/>
                            <path d="M21 12h-6"/>
                        </svg>

                    </div>
                    <div class="flex-1 justify-end flex">
                        <a href="{% url 'app:registration-history' %}"
                           class="py-0.5 px-3 rounded-xl text-white bg-blue-500 font-light text-sm">
                           <div class="flex justify-center items-center gap-1">
                               <svg xmlns="http://www.w3.org/2000/svg" class="size-4" viewBox="0 0 24 24" fill="currentColor"><path d="M12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12H4C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C9.25022 4 6.82447 5.38734 5.38451 7.50024L8 7.5V9.5H2V3.5H4L3.99989 5.99918C5.82434 3.57075 8.72873 2 12 2ZM13 7L12.9998 11.585L16.2426 14.8284L14.8284 16.2426L10.9998 12.413L11 7H13Z"></path></svg>
                               <p>History</p>

                            </div>
                        </a>

                    </div>
                </div>
                {% if phases %}
                    {% for phase in phases %}
                        <div class="mt-2">
                            <a href="{% url 'app:profile-update' request.user.data.unique_code %}?next={% url 'app:registration-phase' phase.slug %}"
                               class=" 
                    {% if phase|is_active %}
                    {% else %}
                    pointer-events-none
                {% endif %}
                ">
                                <div class="
            {% if phase|is_active %}
                    bg-blue-500
                    Open
                    {% else %}
                    bg-blue-800
                    
                {% endif %}
             rounded-2xl p-4 text-white">
                                    <div class="flex">
                 <span class="text-sm  flex justify-center items-center gap-1
                 {% if phase|is_active %}
                   bg-green-500
                   {% else %}
                       bg-red-600
                   {% endif %}
                  p-0.5 px-3 rounded-xl"
                 >
                     {% if phase|is_active %}
                         Open
                         {% comment %} <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-white lucide lucide-circle-plus size-4"><circle cx="12" cy="12" r="10"/><path d="M8 12h8"/><path d="M12 8v8"/></svg> {% endcomment %}
                     {% else %}
                         Closed
                         {% comment %} <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-white lucide lucide-circle-plus size-4"><circle cx="12" cy="12" r="10"/><path d="m15 9-6 6"/><path d="m9 9 6 6"/></svg> {% endcomment %}
                     {% endif %}
                   </span>


                                    </div>

                                    <p class="text-lg font-bold">{{ phase.name }}</p>
                                    <p class="text-sm">
                                        Tutup pada :
                                        <span class="font-medium"
                                        >{{ phase.closed_on_ }}</span
                                        >
                                    </p>
                                    <p></p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="text-white rounded-2xl p-4 mt-4 bg-indigo-500 text-xl text-center">Gelombang Sedang
                        Kosong
                    </div>
                {% endif %}


            </div>
        </div>
        <!-- </div> -->
    </main>

    {% if not score %}
        <script type="text/javascript">
            alert('kamu belum ada data nilai segera input!')
            window.location.href = '/input-nilai'
        </script>

    {% endif %}

    <script type="text/babel">
        "use strict";

        const {useEffect, useRef, useState} = React;

        // Your React components go here...
        function MousePosition() {
            const [mousePosition, setMousePosition] = useState({x: 0, y: 0});

            useEffect(() => {
                const handleMouseMove = (event) => {
                    setMousePosition({x: event.clientX, y: event.clientY});
                };

                window.addEventListener("mousemove", handleMouseMove);

                return () => {
                    window.removeEventListener("mousemove", handleMouseMove);
                };
            }, []);

            return mousePosition;
        }

        function hexToRgb(hex) {
            hex = hex.replace("#", "");
            if (hex.length === 3) {
                hex = hex.split("").map(char => char + char).join("");
            }
            const hexInt = parseInt(hex, 16);
            const red = (hexInt >> 16) & 255;
            const green = (hexInt >> 8) & 255;
            const blue = hexInt & 255;
            return [red, green, blue];
        }

        const Particles = ({
                               className = "",
                               quantity = 100,
                               staticity = 50,
                               ease = 50,
                               size = 0.4,
                               refresh = false,
                               color = "#ffffff",
                               vx = 0,
                               vy = 0,
                           }) => {
            const canvasRef = useRef(null);
            const canvasContainerRef = useRef(null);
            const context = useRef(null);
            const circles = useRef([]);
            const mousePosition = MousePosition();
            const mouse = useRef({x: 0, y: 0});
            const canvasSize = useRef({w: 0, h: 0});
            const dpr = typeof window !== "undefined" ? window.devicePixelRatio : 1;

            useEffect(() => {
                if (canvasRef.current) {
                    context.current = canvasRef.current.getContext("2d");
                }
                initCanvas();
                animate();
                window.addEventListener("resize", initCanvas);

                return () => {
                    window.removeEventListener("resize", initCanvas);
                };
            }, [color]);

            useEffect(() => {
                onMouseMove();
            }, [mousePosition.x, mousePosition.y]);

            useEffect(() => {
                initCanvas();
            }, [refresh]);

            const initCanvas = () => {
                resizeCanvas();
                drawParticles();
            };

            const onMouseMove = () => {
                if (canvasRef.current) {
                    const rect = canvasRef.current.getBoundingClientRect();
                    const {w, h} = canvasSize.current;
                    const x = mousePosition.x - rect.left - w / 2;
                    const y = mousePosition.y - rect.top - h / 2;
                    const inside = x < w / 2 && x > -w / 2 && y < h / 2 && y > -h / 2;
                    if (inside) {
                        mouse.current.x = x;
                        mouse.current.y = y;
                    }
                }
            };

            const resizeCanvas = () => {
                if (canvasContainerRef.current && canvasRef.current && context.current) {
                    circles.current.length = 0;
                    canvasSize.current.w = canvasContainerRef.current.offsetWidth;
                    canvasSize.current.h = canvasContainerRef.current.offsetHeight;
                    canvasRef.current.width = canvasSize.current.w * dpr;
                    canvasRef.current.height = canvasSize.current.h * dpr;
                    canvasRef.current.style.width = `${canvasSize.current.w}px`;
                    canvasRef.current.style.height = `${canvasSize.current.h}px`;
                    context.current.scale(dpr, dpr);
                }
            };

            const circleParams = () => {
                const x = Math.floor(Math.random() * canvasSize.current.w);
                const y = Math.floor(Math.random() * canvasSize.current.h);
                const translateX = 0;
                const translateY = 0;
                const pSize = Math.floor(Math.random() * 2) + size;
                const alpha = 0;
                const targetAlpha = parseFloat((Math.random() * 0.6 + 0.1).toFixed(1));
                const dx = (Math.random() - 0.5) * 0.1;
                const dy = (Math.random() - 0.5) * 0.1;
                const magnetism = 0.1 + Math.random() * 4;
                return {x, y, translateX, translateY, size: pSize, alpha, targetAlpha, dx, dy, magnetism};
            };

            const rgb = hexToRgb(color);

            const drawCircle = (circle, update = false) => {
                if (context.current) {
                    const {x, y, translateX, translateY, size, alpha} = circle;
                    context.current.translate(translateX, translateY);
                    context.current.beginPath();
                    context.current.arc(x, y, size, 0, 2 * Math.PI);
                    context.current.fillStyle = `rgba(${rgb.join(", ")}, ${alpha})`;
                    context.current.fill();
                    context.current.setTransform(dpr, 0, 0, dpr, 0, 0);

                    if (!update) {
                        circles.current.push(circle);
                    }
                }
            };

            const clearContext = () => {
                if (context.current) {
                    context.current.clearRect(0, 0, canvasSize.current.w, canvasSize.current.h);
                }
            };

            const drawParticles = () => {
                clearContext();
                const particleCount = quantity;
                for (let i = 0; i < particleCount; i++) {
                    const circle = circleParams();
                    drawCircle(circle);
                }
            };

            const remapValue = (value, start1, end1, start2, end2) => {
                const remapped = ((value - start1) * (end2 - start2)) / (end1 - start1) + start2;
                return remapped > 0 ? remapped : 0;
            };

            const animate = () => {
                clearContext();
                circles.current.forEach((circle, i) => {
                    const edge = [
                        circle.x + circle.translateX - circle.size,
                        canvasSize.current.w - circle.x - circle.translateX - circle.size,
                        circle.y + circle.translateY - circle.size,
                        canvasSize.current.h - circle.y - circle.translateY - circle.size,
                    ];
                    const closestEdge = edge.reduce((a, b) => Math.min(a, b));
                    const remapClosestEdge = parseFloat(remapValue(closestEdge, 0, 20, 0, 1).toFixed(2));
                    if (remapClosestEdge > 1) {
                        circle.alpha += 0.02;
                        if (circle.alpha > circle.targetAlpha) {
                            circle.alpha = circle.targetAlpha;
                        }
                    } else {
                        circle.alpha = circle.targetAlpha * remapClosestEdge;
                    }
                    circle.x += circle.dx + vx;
                    circle.y += circle.dy + vy;
                    circle.translateX += (mouse.current.x / (staticity / circle.magnetism) - circle.translateX) / ease;
                    circle.translateY += (mouse.current.y / (staticity / circle.magnetism) - circle.translateY) / ease;

                    drawCircle(circle, true);

                    if (circle.x < -circle.size || circle.x > canvasSize.current.w + circle.size ||
                        circle.y < -circle.size || circle.y > canvasSize.current.h + circle.size) {
                        circles.current.splice(i, 1);
                        const newCircle = circleParams();
                        drawCircle(newCircle);
                    }
                });
                window.requestAnimationFrame(animate);
            };

            return (
                <div className={className} ref={canvasContainerRef} aria-hidden="true">
                    <canvas ref={canvasRef} className="size-full"/>
                </div>
            );
        };

        const ParticlesDemo = () => {
            return (
                <div className="-z-50 h-full w-full flex items-center justify-center overflow-hidden rounded-lg ">
                    <Particles
                        className="absolute inset-0 -z-50"
                        quantity={100}
                        ease={80}
                        color="#000"
                        refresh
                    />

                </div>

            );
        };

        ReactDOM.render(<ParticlesDemo/>, document.getElementById('particles-root'));
    </script>

{% endblock %}


