{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block head %}
    <style>
        .requirements {
            color: red;
            font-size: small;
        }
    </style>
{% endblock %}

{% block content %}
    <h2>Reset Your Password</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="requirements">
            <p>Password Requirements:</p>
            <ul>
                <li>At least 8 characters long</li>
                <li>At least one uppercase letter</li>
                <li>At least one punctuation mark</li>
            </ul>
        </div>
        <button type="submit">Reset Password</button>
    </form>
{% endblock %}
